<header class="header">
    <div class="header__container">
      <h1 class="header__title">Parking App</h1>
      <nav class="header__nav">
        <a [routerLink]="['/estado-cocheras']" routerLinkActive="active" class="header__link">Estado de cocheras</a>
        <a [routerLink]="['/reportes']" routerLinkActive="active" class="header__link">Reportes</a>
        <a [routerLink]="['/precios']" routerLinkActive="active" class="header__link">Precios</a>
        <a [routerLink]="['/usuario']" routerLinkActive="active" class="header__link">Usuario</a>
      </nav>
      <button class="header__modal-btn" (click)="abrirModal()">Cerrar sesión</button>
    </div>
  </header>